<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div style="display:none;">
    <%= form.label :task_list_id, style: "display: block" %>
    <%= form.text_field :task_list_id, value: @task_list_id %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
