<%= form_with(model: task_list) do |form| %>
  <% if task_list.errors.any? %>
      <ul>
        <% task_list.errors.each do |error| %>
          <li class="text-danger"><%= error.message %></li>
        <% end %>
      </ul>
  <% end %>

  <div data-controller='custom'>
    <%= form.label I18n.t 'attributes.task_list.name' %>
    <%= form.text_field :name, data: {action: "input->custom#update_hint", custom_target: "nameTaskList"}%>
    <h3  id="new_task_list_title"></h3>
  </div>

  <div class="mt-3">
    <%= form.submit (I18n.t('task_lists.form.create')) , class: 'btn btn-info' %>
  </div>
<% end %>
