<body>
  <%= render "layouts/header"%>
  <main class = "container mt-5">
    <% if flash[:notice] %>
      <div class="<%= flash_class(:success)%>"><%= flash[:notice] %></div>
    <% end %>
    <div id="task_lists">
      <% @task_lists.each do |task_list| %>
        <details>
         <%= render task_list %>
        <table class="table table-bordered table-striped table-covered " id="datatablesSimple">
          <thead>
            <% if task_list.tasks.present? %>
              <th> Title </th>
              <th> Status </th>
              <th> Delete </th>
              <th> Edit </th>
            <% end %>
          </thead>
          <tbody>
            <% task_list.tasks.each do |task|%>
              <% unless task.title.nil? %>
              <tr>
                <td class="col-3"><%= task.title %></td>
                <td class = "col-1"><%=  task.status ? 'Concluído' : 'Pendente'%></td>
                <td> <%= button_to "Delete", task, method: :delete,  class:"btn btn-danger" %></td>
                <td><%= link_to "Edit", edit_task_path(task), class: "btn btn-info"%> </td>
              </tr>
              <% end %>
            <% end %>
          <tbody>
        </table>
        <%= render "tasks/form" , task: task_list.tasks.new %>
        <%= button_to "Destroy this task list", task_list, method: :delete, class:"btn btn-warning" %>
        </details>
      <% end %>
      </div>
      <%= turbo_frame_tag "new_task_list" do %>
        <%= link_to "Nova task list", new_task_list_path %>
      <% end %>
    </div>
  </main>
</body>
