<body class="">
  <div class = "container">
    <h1> To Do </h1>
    <% @task_lists.each  do |task_list| %>
        <details>
          <summary> <%= task_list.name %></summary>
         
      <table class="table table-bordered table-striped table-covered">
        <thead>
          <% if not task_list.tasks.empty? %>
            <th> Title </th>
            <th> Status </th>
            <th> Delete </th>
          <% end %>
        </thead>
        <tbody>
          <% task_list.tasks.each do |task|%>
            <% if not task.title.nil? %>
            <tr>
              <td class="col-3"><%= task.title %></td>
              <td class = "col-1"><%=  task.status%></td>
              <td> <%= button_to "Destroy this task", task, method: :delete %></td>
            </tr>
            <% end %>
          <% end %>
        <tbody>
        </div>
    </table>
     <%= button_to "Destroy this task list", task_list, method: :delete %>
    </details>
      <% end %>
   
    
    <%=  button_to "logout", destroy_user_session_path, method: :delete%>
  

</body>